.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  background-color: rgba(0, 132, 255, 0.705);
}
.cell_3 {
  flex: 1;
  align-self: center;
  color: aliceblue;
  padding-left: 20px;
  font-weight: 800;
}

.cell_1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  color: aliceblue;
  padding-right: 20px;
}

.passenger {
  font-weight: 400;
  font-style: oblique;
  font-size: 0.8em;
}
.amount {
  font-weight: 600;
  font-size: 1.2em;
}

/* .segments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
} */
.there {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
}
.time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
}
.transfer {
  display: flex;
  flex-direction: column;
}

hr {
  border: none; /* Убираем границу */
  width: 280px;
  background-color: rgba(0, 132, 255, 0.705);
  height: 0.1em; /* Толщина линии */
}
